[user]
	name = Cameron Flint
	email = dev@caflint.fastmail.com

[alias]
  st = status
  c = commit
  cm = commit -m
  amend = commit --amend
  cp = cherry-pick
  co = checkout
  b = branch
  r = remote
  l = log --pretty=format:'%C(white dim)%h%Creset -%C(yellow bold)%d%Creset %s %C(green)(%cr) %C(blue dim)<%an>%Creset' --abbrev-commit
  lm = log --pretty=format:'%C(white dim)%h%Creset -%C(yellow bold)%d%Creset %s %C(green)(%cr) %C(blue dim)<%an>%Creset' --abbrev-commit --first-parent --simplify-merges
  mt = mergetool
  dt = difftool

[merge]
  tool = diffconflicts

[mergetool]
  keepBackup = false

[mergetool.diffconflicts]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true

[color]
  ui = auto

[color "status"]
  branch = magenta bold
  localBranch = magenta
  remoteBranch = white dim

[color "branch"]
  current = magenta bold
  local = white
  remote = white dim

[color "diff"]
  frag = cyan
  func = blue bold
  
[credential]
	helper = store

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	pager = delta

[delta]
  syntax-theme = gruvbox
  line-numbers = true
  side-by-side = true
  ; line-numbers-left-format = ""
  ; line-numbers-right-format = "│ "

[interactive]
  diffFilter = delta --color-only
