[submodule "vim/pack/default/start/gruvbox"]
	path = vim/.vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/default/start/tmuxline"]
	path = vim/.vim/pack/default/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "tmux/.tmux/plugins/continuum"]
	path = tmux/.tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/.tmux/plugins/resurrect"]
	path = tmux/.tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/copycat"]
	path = tmux/.tmux/plugins/copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/.vim/pack/default/start/easytags"]
    path = vim/.vim/pack/default/start/easytags
	url = https://github.com/camflint/vim-easytags.git
	branch = camflint/versionfix
[submodule "vim/.vim/colors/base16"]
	path = vim/.vim/colors/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/pack/default/start/base16"]
	path = vim/.vim/pack/default/start/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/pack/default/start/airline-themes"]
	path = vim/.vim/pack/default/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vifm/.config/vifm/colors"]
	path = vifm/.config/vifm/colors
	url = https://github.com/vifm/vifm-colors.git
[submodule "sh/.zplugin/bin"]
	path = sh/.zplugin/bin
	url = https://github.com/zdharma/zplugin.git
[submodule "vim/.vim/pack/default/start/tsuquyomi"]
	path = vim/.vim/pack/default/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "base16/.local/share/base16-shell"]
	path = base16/.local/share/base16-shell
	url = https://github.com/camflint/base16-shell.git
[submodule "base16/.local/share/base16-fzf"]
	path = base16/.local/share/base16-fzf
	url = https://github.com/camflint/base16-fzf.git
