[submodule "vim/pack/default/start/airline"]
	path = vim/.vim/pack/default/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/default/start/tabular"]
	path = vim/.vim/pack/default/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/default/start/repeat"]
	path = vim/.vim/pack/default/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/default/start/unimpaired"]
	path = vim/.vim/pack/default/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/default/start/obsession"]
	path = vim/.vim/pack/default/start/obsession
	url = https://github.com/vphantom/vim-obsession.git
[submodule "vim/pack/default/start/surround"]
	path = vim/.vim/pack/default/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/default/start/tmux-navigator"]
	path = vim/.vim/pack/default/start/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/default/start/vinegar"]
	path = vim/.vim/pack/default/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/default/start/gruvbox"]
	path = vim/.vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/default/start/tmuxline"]
	path = vim/.vim/pack/default/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "tmux/.tmux/plugins/continuum"]
	path = tmux/.tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/.tmux/plugins/resurrect"]
	path = tmux/.tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/copycat"]
	path = tmux/.tmux/plugins/copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/.vim/pack/default/start/fzf"]
	path = vim/.vim/pack/default/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/default/start/vifm"]
	path = vim/.vim/pack/default/start/vifm
	url = https://github.com/vifm/vifm.vim
[submodule "vim/.vim/pack/default/start/fugitive"]
	path = vim/.vim/pack/default/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/default/start/easytags"]
    path = vim/.vim/pack/default/start/easytags
	url = https://github.com/camflint/vim-easytags.git
	branch = camflint/versionfix
[submodule "vim/.vim/pack/default/start/misc"]
	path = vim/.vim/pack/default/start/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/.vim/pack/default/start/gutentags"]
	path = vim/.vim/pack/default/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/pack/default/start/bookmarks"]
	path = vim/.vim/pack/default/start/bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "vim/.vim/pack/default/start/grepper"]
	path = vim/.vim/pack/default/start/grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "vim/.vim/colors/base16"]
	path = vim/.vim/colors/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/pack/default/start/base16"]
	path = vim/.vim/pack/default/start/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "base16/.config/base16-shell"]
	path = base16/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vim/.vim/pack/default/start/airline-themes"]
	path = vim/.vim/pack/default/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vifm/.config/vifm/colors"]
	path = vifm/.config/vifm/colors
	url = https://github.com/vifm/vifm-colors.git
[submodule "sh/.zplugin/bin"]
	path = sh/.zplugin/bin
	url = https://github.com/zdharma/zplugin.git
