[submodule "vim/pack/default/start/airline"]
	path = vim/.vim/pack/default/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/default/start/tabular"]
	path = vim/.vim/pack/default/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/default/start/repeat"]
	path = vim/.vim/pack/default/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/default/start/unimpaired"]
	path = vim/.vim/pack/default/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/default/start/obsession"]
	path = vim/.vim/pack/default/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/pack/default/start/surround"]
	path = vim/.vim/pack/default/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/default/start/tmux-navigator"]
	path = vim/.vim/pack/default/start/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/default/start/vinegar"]
	path = vim/.vim/pack/default/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/default/start/gruvbox"]
	path = vim/.vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/default/start/tmuxline"]
	path = vim/.vim/pack/default/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "tmux/.tmux/plugins/continuum"]
	path = tmux/.tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/.tmux/plugins/resurrect"]
	path = tmux/.tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/copycat"]
	path = tmux/.tmux/plugins/copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
